/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto&display=swap');


body{
    background-color: #f6f6f728;
    font-family: 'Roboto', sans-serif;
}

.logo-font span{
    font-family: 'Berkshire Swash', cursive;
}

a{
    text-decoration: none;
    cursor: pointer;
}

#catagories-container div:nth-child(7){
    flex-shrink: 0.7;
}
#catagories-container div:nth-child(1){
    flex-grow: 1.2;
}
#catagories-container div:nth-child(3){
    flex-grow: 1.5;
}


#catagories-items-container .card{
    box-shadow: 1rem -1rem 1rem rgba(0, 0, 0, 0.095), -1rem 1rem 1rem rgba(0, 0, 0, 0.088);
    border: none;
}

#catagories-items-container .card img{
    height: 100%;
}

.author-img img{
    width: 25px;
    height: 25px;
    border-radius: 155px;
}

#modal-body img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 2rem 0;
}

#form-select,
#form-select:focus,
#form-select option{
    outline: none;
    border: none;
    padding: 5px 20px;
    border-radius: .5rem;
}
